* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Titillium Web", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 18px;
  background: #000000; }

.container {
  width: 100%;
  height: 100%; }

.game-area {
  position: relative;
  float: left;
  width: 50%;
  left: 10%;
  height: 100%;
  font-family: 'Monaco', 'Courier new', monospace; }

canvas {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 0; }

.effects-nav {
  position: relative;
  float: right;
  width: 30%;
  height: 100%;
  color: white;
  border-left: 1px solid rgba(22, 63, 83, 0.5); }
  .effects-nav ul {
    list-style: none; }
  .effects-nav > ul {
    margin: 0;
    padding: 0; }
    .effects-nav > ul > li {
      padding: 1.5em 3em 1.5em 1em;
      border-bottom: 1px solid rgba(22, 63, 83, 0.5);
      font-weight: 200;
      text-transform: uppercase;
      font-size: 0.8em; }
  .effects-nav button, .effects-nav .button {
    border-radius: 0;
    background: none;
    border: 1px solid #163F53;
    padding: 10px 15px;
    color: white;
    outline: 0;
    font-size: 1.1em;
    font-family: "Titillium Web", "Helvetica Neue", sans-serif;
    cursor: pointer; }
    .effects-nav button:hover, .effects-nav .button:hover {
      background: #222222; }
  .effects-nav label {
    display: block; }
