$canvas-size: 1000px;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.container {
	width: $canvas-size;
	margin: 2em auto;
}

.game-area {
	position: relative;
	width: $canvas-size;
	height: $canvas-size;
	//background: #444448;
	font-family: 'Monaco', 'Courier new', monospace;
	border: 1px solid black;
}

canvas {
	width: $canvas-size;
	height: $canvas-size;
	position: absolute;
	top: 0;
	left: 0;
}